{% extends "base.html" %}
{% block title %}
    Home - Smart Display Portal
{% endblock title %}
{% block content %}
    <h1>Welcome</h1>
    {% if latest_api_list %}
        <ul>
            {% for api in latest_api_list %}
                <li>
                    <a href="{% url 'displayconf:results' api.id %}">{{ api.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'displayconf:create-api' %}">Add another</a>
    {% else %}
        <p>No API's to show yet.</p>
        <a href="{% url 'displayconf:create-api' %}">Add one here</a>
    {% endif %}
{% endblock content %}
